@page
@model MyWatchList.Pages.Usuarios.CreateModel
@{
    ViewData["Title"] = "Criar Conta";
}

<div class="form-container">
    <h2>🆕 Criar Conta</h2>
    <form method="post" autocomplete="off">
        <label asp-for="Usuario.Nome"></label>
        <input asp-for="Usuario.Nome" class="form-control" autocomplete="off" />

        <label asp-for="Usuario.Email"></label>
        <input asp-for="Usuario.Email" class="form-control" type="email" autocomplete="off" />
    


        <label asp-for="Usuario.Senha"></label>
        <input asp-for="Usuario.Senha" class="form-control" type="password" autocomplete="new-password" />

        <label asp-for="Usuario.FotoPerfil"></label>
        <input asp-for="Usuario.FotoPerfil" class="form-control" autocomplete="off" />

        <label asp-for="Usuario.Biografia"></label>
        <input asp-for="Usuario.Biografia" class="form-control" autocomplete="off" />

        <button type="submit" class="btn btn-warning mt-2">Cadastrar</button>
        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
    </form>


    <p class="mt-2">
        Já tem conta? <a asp-page="/Usuarios/Login" class="btn btn-outline-light btn-sm">Login</a>
    </p>
</div>
