@page
@model MyWatchList.Pages.Usuarios.EditModel
@{
    ViewData["Title"] = "Editar Perfil";
}

<div class="form-container">
    <h2>👤 Editar Perfil</h2>

    @if (!string.IsNullOrEmpty(Model.Usuario.FotoPerfil))
    {
        <div class="profile-img-preview">
            <img src="@Model.Usuario.FotoPerfil" alt="Foto de Perfil" />
        </div>
    }

    <form method="post" autocomplete="off">
        <input type="hidden" asp-for="Usuario.Id" />

        <label>Nome</label>
        <input asp-for="Usuario.Nome" class="form-control" autocomplete="off" />

        <label>Email</label>
        <input asp-for="Usuario.Email" class="form-control" autocomplete="off" />

        <label>Senha</label>
        <input asp-for="Usuario.Senha" class="form-control" type="text" autocomplete="off" />


        <label>Foto de Perfil (URL)</label>
        <input asp-for="Usuario.FotoPerfil" class="form-control" autocomplete="off" />

        <label>Biografia</label>
        <textarea asp-for="Usuario.Biografia" class="form-control" rows="4"></textarea>

        <button type="submit" class="btn btn-warning w-100 mt-3">Salvar Alterações</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
